body {
    background: rgb(6, 21, 41);
    color: azure;
}

.bttn {
    border: none;
    padding: 10px;
}

.containerMain {
    display: flexbox;
    flex-direction: row;
}

.bttnContainer {
    display: flex;
}